In [1]:
from os import chdir
chdir('/Users/lananhnguyen/Desktop/thesis/thesis_code')
from packages.load import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

from sklearn.metrics import (confusion_matrix, roc_curve, roc_auc_score, accuracy_score, precision_score,
                             recall_score, f1_score, classification_report, log_loss, make_scorer)
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.decomposition import PCA

# 2. HICP

In [2]:
HICP_monthly = pd.read_excel('data/HICP_COICOP10s.xlsx', sheet_name='HICP_Monthly')
HICP_monthly.head()

,mdates,Rice,Rice.preparations,Flour,Semolina..rye.flour.or.the.like,White.bread,Rye.bread.or.brown.bread,Granary.bread.or.wholemeal.bread,Ready.to.bake.rolls,Fresh.bread.rolls,...,Premium.for.personal.liability.insurance,Premium.for.legal.protection.insurance,Bank.charges,Charge.for.tax.consultant.services,Charge.for.birth.certificate..death.certificate.or.the.like,Passport.fee.or.the.like,Fee.for.lawyer.s.or.notary.s.services,Charge.for.funeral.services.or.cemetery.fee,Classified.advertisement.in.a.newspaper,Visitor.s.tax
0,1996-01-31,86.699997,NaN,74.199997,83.900002,72.000000,72.000000,67.900002,NaN,62.200001,...,85.900002,44.0,104.900002,NaN,NaN,60.055096,62.408463,68.500000,64.099998,NaN
1,1996-02-29,86.699997,NaN,73.800003,83.900002,72.199997,72.099998,68.099998,NaN,62.299999,...,85.900002,44.0,104.900002,NaN,NaN,60.055096,62.408463,68.500000,64.099998,NaN
2,1996-03-31,86.699997,NaN,73.800003,83.900002,72.300003,72.300003,68.199997,NaN,62.400002,...,85.900002,44.0,104.900002,NaN,NaN,60.055096,62.408463,68.500000,64.099998,NaN
3,1996-04-30,86.699997,NaN,73.800003,83.900002,72.300003,72.300003,68.400002,NaN,62.400002,...,85.900002,44.0,104.900002,NaN,NaN,60.055096,62.408463,68.599998,64.099998,NaN
4,1996-05-31,86.699997,NaN,73.599998,83.900002,72.500000,72.300003,68.500000,NaN,62.400002,...,85.900002,44.0,104.900002,NaN,NaN,60.055096,62.408463,68.599998,64.199997,NaN

In [3]:
HICP_Weights = pd.read_excel('data/HICP_COICOP10s.xlsx', sheet_name='HICP_Weights')
HICP_Weights.head()

,mdates,Rice,Rice.preparations,Flour,Semolina..rye.flour.or.the.like,White.bread,Rye.bread.or.brown.bread,Granary.bread.or.wholemeal.bread,Ready.to.bake.rolls,Fresh.bread.rolls,...,Premium.for.personal.liability.insurance,Premium.for.legal.protection.insurance,Bank.charges,Charge.for.tax.consultant.services,Charge.for.birth.certificate..death.certificate.or.the.like,Passport.fee.or.the.like,Fee.for.lawyer.s.or.notary.s.services,Charge.for.funeral.services.or.cemetery.fee,Classified.advertisement.in.a.newspaper,Visitor.s.tax
0,1996-01-31,0.41,NaN,0.35,0.22,0.68,2.25,1.27,NaN,4.0,...,4.37,1.8,3.15,NaN,NaN,1.1,1.04,0.51,0.44,NaN
1,1996-02-29,0.41,NaN,0.35,0.22,0.68,2.25,1.27,NaN,4.0,...,4.37,1.8,3.15,NaN,NaN,1.1,1.04,0.51,0.44,NaN
2,1996-03-31,0.41,NaN,0.35,0.22,0.68,2.25,1.27,NaN,4.0,...,4.37,1.8,3.15,NaN,NaN,1.1,1.04,0.51,0.44,NaN
3,1996-04-30,0.41,NaN,0.35,0.22,0.68,2.25,1.27,NaN,4.0,...,4.37,1.8,3.15,NaN,NaN,1.1,1.04,0.51,0.44,NaN
4,1996-05-31,0.41,NaN,0.35,0.22,0.68,2.25,1.27,NaN,4.0,...,4.37,1.8,3.15,NaN,NaN,1.1,1.04,0.51,0.44,NaN

In [4]:
HICP_class = pd.read_excel('data/HICP_COICOP10s.xlsx', sheet_name='COICOP_class')
HICP_class.index = ['Group 1', 'Group 2', 'Group 3', 'Group 4']
HICP_class.head()

,Rice,Rice.preparations,Flour,Semolina..rye.flour.or.the.like,White.bread,Rye.bread.or.brown.bread,Granary.bread.or.wholemeal.bread,Ready.to.bake.rolls,Fresh.bread.rolls,Yeast.pastry,...,Premium.for.personal.liability.insurance,Premium.for.legal.protection.insurance,Bank.charges,Charge.for.tax.consultant.services,Charge.for.birth.certificate..death.certificate.or.the.like,Passport.fee.or.the.like,Fee.for.lawyer.s.or.notary.s.services,Charge.for.funeral.services.or.cemetery.fee,Classified.advertisement.in.a.newspaper,Visitor.s.tax
Group 1,Food,Food,Food,Food,Food,Food,Food,Food,Food,Food,...,Non-food,Non-food,Non-food,Non-food,Non-food,Non-food,Non-food,Non-food,Non-food,Non-food
Group 2,Processed food,Processed food,Processed food,Processed food,Processed food,Processed food,Processed food,Processed food,Processed food,Processed food,...,Services,Services,Services,Services,Services,Services,Services,Services,Services,Services
Group 3,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,...,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services
Group 4,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,bread and cereals,...,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services,miscellaneous services

In [17]:
# HICP for categories:

HICP_food = pd.read_excel('data/prc_hicp_food_non_alcohol.xlsx', sheet_name= 'Sheet 1',skiprows=8).T
HICP_food = HICP_food.iloc[:, 1]

TIME       Germany
1996-01       75.7
1996-02       76.3
1996-03       76.7
1996-04       77.0
            ...
2023-03      144.9
2023-04      144.2
2023-05      144.0
2023-06      144.0
2023-07      143.7
Name: 1, Length: 332, dtype: object

In [ ]:
def import_clean_hicp_cat(file):
    hicp_cat = pd.read_excel(file, sheet_name= 'Sheet 1',skiprows=8).T
    hicp_cat = hicp_cat.iloc[:, 1]
    hicp_cat.index = pd.to_datetime(hicp_cat.index)
    return hicp_cat

## 2.1. Data preparation:

Here is my approach for forecasting headline inflation:

First approach: 
1. Remove all columns that have missing values

2. Calculate year-on-year growth rate HICP_COICOP10 by:

a. Calculate the year-on-year growth rate for each month by subtracting the CPI index of the corresponding month in the previous year from the CPI index of the current year. Then divide the result by the CPI index of the previous year.

b. Express the year-on-year growth rate as a percentage by multiplying it by 100. 

3. Categorize all disagregated index into 4 ones: Food, Service, Energy and the rest.
4. Training set: Use the HICP items to forecast grouped CPI, compare to observations and fine-tune hyperparameter.
5. Test set: Use HICP items to forecast the grouped CPI, then aggregate to head and core CPI, compare directly.
 
Second approach: 
Same but with rolling window to gradually introduce new variables.

In [ ]:
def clean_hicp_cat(df):
    """
    Clean the raw data of HICP category
    """
    
    df = df.set_index('date')
    df = df['s2'].dropna(axis = 0)
    return df

In [88]:
food_series

date
1997-01-31     1.2
1997-02-28     0.6
1997-03-31    -1.2
1997-04-30    -1.1
1997-05-31     0.7
              ...
2023-02-28    16.2
2023-03-31    15.9
2023-04-30     9.5
2023-05-31     4.6
2023-06-30     2.0
Name: s2, Length: 318, dtype: float64

In [89]:
HICP_monthly.isna().sum()

mdates                                           0
Rice                                             0
Rice.preparations                              228
Flour                                            0
Semolina..rye.flour.or.the.like                  0
                                              ...
Passport.fee.or.the.like                         0
Fee.for.lawyer.s.or.notary.s.services            0
Charge.for.funeral.services.or.cemetery.fee      0
Classified.advertisement.in.a.newspaper          0
Visitor.s.tax                                  228
Length: 645, dtype: int64

In [92]:
HICP_monthly.dropna(axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Columns: 492 entries, mdates to Classified.advertisement.in.a.newspaper
dtypes: datetime64[ns](1), float64(491)
memory usage: 1.2 MB

In [ ]:
HICP_yoy = pd.DataFrame()
HICP_yoy = (HICP_monthly.iloc[:, 1:].pct_change(12) * 100) #year-on-year percentage change
HICP_yoy['date'] = HICP_monthly['mdates']
HICP_yoy = HICP_yoy.set_index('date').dropna()
HICP_yoy.head(20)

In [ ]:
# Extract data into groups:
# Full data groups: 

food_f = HICP_class.loc[:, HICP_class.iloc[0, :] == 'Food']
services_f = HICP_class.loc[:, HICP_class.iloc[1, :] == 'Services']
energy_f = HICP_class.loc[:, HICP_class.iloc[1, :] == 'Energy']
negi_f = HICP_class.loc[:, HICP_class.iloc[1, :] == 'Non-energy industrial goods (NEIG)']

print('Number of items in food group: ', food_f.shape[1])
print('Number of items in services group: ', services_f.shape[1])
print('Number of items in energy group: ', energy_f.shape[1])
print('Number of items in Non-energy industrial goods (NEIG) group: ', negi_f.shape[1])
print('Total: ', food_f.shape[1] + services_f.shape[1]+ negi_f.shape[1] + energy_f.shape[1])

In [ ]:
# Second groups is for sets that doesn't contain missing values, so subset columns must appear in both df

food = HICP_yoy[HICP_yoy.columns.intersection(food_f.columns)]
services = HICP_yoy[HICP_yoy.columns.intersection(services_f.columns)]
energy = HICP_yoy[HICP_yoy.columns.intersection(energy_f.columns)]
negi = HICP_yoy[HICP_yoy.columns.intersection(negi_f.columns)]

print('Number of items in food group: ', food.shape[1])
print('Number of items in services group: ', services.shape[1])
print('Number of items in energy group: ', energy.shape[1])
print('Number of items in Non-energy industrial goods (NEIG) group: ', negi.shape[1])
print('Total: ', food.shape[1] + services.shape[1]+ negi.shape[1] + energy.shape[1])

In [ ]:
food.head()

In [ ]:
# Divide into train and test set

X_food_train = food[food.index <= '2015-12-31']
X_food_test = food[food.index > '2015-12-31']

#X_food_test = food[(food.index > '2015-12-31') & (food.index <= '2019-12-31')]
#food_df_t2 = food[(food.index > '2019-12-31') & (food.index <= '2021-12-31')]
#food_df_t3 = food[food.index > '2021-12-31']


services_train = services[services.index <= '2015-12-31']
services_t1 = services[(services.index > '2015-12-31') & (services.index <= '2019-12-31')]
services_t2 = services[(services.index > '2019-12-31') & (services.index <= '2021-12-31')]
services_t3 = services[services.index > '2021-12-31']


energy_train = energy[energy.index <= '2015-12-31']
energy_t1 = energy[(energy.index > '2015-12-31') & (energy.index <= '2019-12-31')]
energy_t2 = energy[(energy.index > '2019-12-31') & (energy.index <= '2021-12-31')]
energy_t3 = energy[energy.index > '2021-12-31']


negi_train = negi[negi.index <= '2015-12-31']
negi_t1 = negi[(negi.index > '2015-12-31') & (negi.index <= '2019-12-31')]
negi_t2 = negi[(negi.index > '2019-12-31') & (negi.index <= '2021-12-31')]
negi_t3 = negi[negi.index > '2021-12-31']

In [ ]:
X_food_train = food[food.index <= '2015-12-31']
X_food_test = food[food.index > '2015-12-31']

y_food_train = food_series[food_series.index <= '2015-12-31']
y_food_test = food_series[food_series.index > '2015-12-31']